#container-1 {
    border: darkgray 2px solid;
    border-radius: 8px;
}

#cont {
	padding-left: 1px;
	font-weight: bold;
}

#pRides {
	padding-left: 1px;
	font-weight: bold;
	margin-top: 15px;
}

.caption {
	display: inline-block;
	margin-top: 30px;
	font-weight: bold;
}

#boton-add {
    float: right;
    margin-top:20px;
	background: #1E90FF;
	border: 2px solid gray;
	border-radius: 3px;
	margin-bottom: 5px;
}

#boton-add2 {
    float: right;
	background: #1E90FF;
	border: 2px solid gray;
	border-radius: 3px;
	margin-bottom: 15px;
}

#boton-add:hover {
	
	cursor: pointer;
	transition: 1s;
}

tr:nth-child(odd) {
	background-color:#f2f2f2;
}
tr:nth-child(even) {
	background-color:#fbfbfb;
}