html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.div1 {
  margin-top: 10px;
}

 #icon-user {
  font-size: 80px;
  
}

#icon-user:hover {
  color: #1E90FF;
  transition: 2s;
}



/* Registro de usuarios */

.login-register{
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

#errorName {
  color: red;
}
#errorLastname {
  color: red;
}
#errorUsername {
  color: red;
}
#errorPhone {
  color: red;
}
#errorNumero {
  color: red;
}
#errorPassword {
  color: red;
}
#errorConfirm { 
  color: red;
}
#errorCoin {
  color: red;
}

.errorC {
  display: none;

}
.errorD {
  display: none;
}
.errorE {
  display: none;
}
.control-label {
  display: flex;
}