h1 {
    font-weight: bold; 
}
#cont {
    font-weight: bold;
    font-size: 15px;  
    margin-bottom: 10px;
}

hr {
    border-top: darkgray 2px solid;
    /* margin-top: 2px; */
    
}

.input-group .form-control {
    width: 30%;
}

#departure {
    width: 10%; 
}
#arrival {
    width: 10%;
}



#form2 .checkbox {
    display: flex;
    justify-content: space-around;
  
}

.flex-check {
    display: inline-block; 
}

.cancel {
    margin-top: 10px;
    margin-left: 80px;
    font-weight: bold;
}
.boton {
    background: #1b8129;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 300px;
}

.boton:hover {
    background: #d66700;
    cursor: pointer;
}

#footer {
    margin-bottom: 50px;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    .input-group .form-control {
        width: 65%;

    }
    #departure {
        width: 30%; 
    }
    #arrival {
        width: 30%;
    }

}