#cont {
	padding-left: 15px;
    font-weight: bold;
    font-size: 15px;  
}

.input-group .form-control {
    width: 30%;
}

.enlace-boton a {
    margin-top: 10px;
    margin-left: 80px;
    font-weight: bold;
}
.boton {
    background: #1b8129;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 300px;
}

.boton:hover {
    background: #d66700;
    cursor: pointer;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    .input-group .form-control {
        width: 65%;
    }

}